<!DOCTYPE html>
<html>
<head>
    <title>Indegs : Data-powered design</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/font.css' />
    <link rel='stylesheet' href='/css/header.css' />
    <link rel='stylesheet' href='/css/cards.css' />
    <link rel='stylesheet' href='/css/left.css' />
    <link rel='stylesheet' href='/css/post.css' />
    <link rel='stylesheet' href='/css/ab.css' />
    <link rel='stylesheet' href='/css/ab-right.css' />
    <link rel='stylesheet' href='/css/user.css' />
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/croppie.css' />
</head>
<body>
	<div id="app"></div>
<script type="text/javascript" src="/js/bundle.js"></script>
<script src="/js/d3.min.js" charset="utf-8"></script>
<script src="/js/color-thief.js" charset="utf-8"></script>
</body>
</html>
