#cards{
    width: 600px;
    float: left;
    overflow: hidden;
}


/*<NewCards />*/

#new-cards{
    line-height: 35px;
    /* box-shadow: 0px 1px 3px #D4D4D4; */
    text-align: center;
    /* font-weight: 400; */
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
}

#new-cards #title{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

#new-cards:hover{
    background:#f9f9f9;
}



.card{
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 15px;
    background-color: white;
    border-top: 1px solid #d3d3d3;
}

.card-title{
	margin-top:2px;
}
span.title{
    text-align: left;
    font-size: 17px;
    line-height: 22px;
    color: #252525;
    /* text-decoration: underline; */
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -0.3px;
}


.card-author:hover span.author{
    text-decoration: underline;
}
span.author{
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: #585858;
    font-weight: 400;
    letter-spacing: -0.2px;
}
span.date{
    font-size: 12px;
    line-height: 16px;
    color: #909090;
    font-weight: 400;
}

span.category{
    font-size: 12px;
    line-height: 14px;
    margin-right: 3px;
    color: #909090;
    font-weight: 400;
    display:block;
}

.card-author{
	margin-bottom:-1px;
	float:left;
    /*display:none;*/
}
.card-dot{
    float: left;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 0 5px;
    margin-top: 10px;
    background: #909090;
    /*display:none;*/
}

.card-date{
	float:left;
}

/*<CardHeader />*/

.card-header-left{
    float:left;
    /*display:none;*/
}
.card-header-center{
    float:left;
    padding-right:30px;
}
.card-header-right{
    float:left;
    padding-left:30px;
    border-left:1px solid #c5c5c5;
}

.card-info-holder{
    float: left;
}


/*<CardLeft />*/
.card-left{
    width:60px;
    float:left;
}
/*<CardAuthorPic />*/

.card-authorpic{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    overflow: hidden;
    cursor:pointer;
}

.card-authorpic > img{
    width:45px;
    height:45px;
}

/*<CardBody />*/
.card-body{
    float:left;
    width:540px;
}

.card-body:hover span.title{
    text-decoration: underline;
}


/*<CardImage />*/
.card-images{
    margin-top:15px;
}
.card-image{
    width:269px;
    float:left;
}
.card-image > img{
    width:100%;
    height:auto;
    border: 1px solid #efefef;
    border-radius: 4px;
}

.card-image:nth-child(1){
    margin-right:5px;
}
.card-image:nth-child(1) > img{

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.card-image:nth-child(2) > img{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*<CardInfo />*/
.card-info{
    float:left;
    width:440px;
    padding-right:20px;
}



/*<CardDescription />*/

.card-description{
    color: #020202;
    font-weight: 400;
    margin-top: 7px;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.4px;
}

.card-a-holder{
    float:left;
    width:50%;
    height:100%;
    background-color:#f1f1f1;
    background-size:cover;
    background-position:50% 50%;
    border-right: 1px solid white;
}
.card-b-holder{
    float:left;
    width:50%;
    height:100%;
    background-size:cover;
    background-color:#f1f1f1;
    background-position:50% 50%;
    /*transition:0.3s background ease;*/
}

.card-img-holder{
    overflow: hidden;
    background: #efefef;
    border-radius: 5px;
}
.card-img-holder img{
    background:white;
    display:block;
    float:left;
    border:1px solid #efefef;
}
.card-a-img{
    margin-right:0.5px;
}
.card-b-img{

}
.card-img-loader{
/*    position:absolute;
    top:0;
    left:0;*/
}
.card-img-loader div{
    float:left;
    border: 1px solid #efefef;
    background-color: #F9F9F9;
}
.card-a-loader{
    margin-right:1px;
}



/*<CardLike />*/
.card-likes{
    width: 95px;
    float: right;
    padding: 7px 0;
    cursor: default;
}
.card-like{
    float:left;
}
.card-like:nth-child(2){
    /*margin-left:30px;*/
    float:right;
}
.card-like .btn{
    float:left;
    cursor: pointer;
    width: 13px;
    height: 20px;
    background: url('/images/like-on.png') 50% 50% no-repeat;
    background-size: contain;
    opacity:0.2;
}
.card-like.liked .btn{
    background: url('/images/like-on.png') 50% 50% no-repeat;
    background-size: contain;
    opacity:1;
}
.card-like .count{
    line-height: 20px;
    font-size: 12px;
    color:#a9a9a9;
    margin-left:5px;
}
.card-like.liked .count{
    /*color:#ff2d2d;*/
    color:black;
    font-weight:400;
}




