/*KOREAN FONT FACE*/

/*나눔고딕*/
@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic/NanumGothicLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic/NanumGothic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Gothic';
    src: url('/fonts/NanumGothic/NanumGothicBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Gothic';
    src: url('/fonts/NanumGothic/NanumGothicExtraBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*나눔바른고딕*/
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic/NanumBarunGothicUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic/NanumBarunGothicLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic/NanumBarunGothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic/NanumBarunGothicBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*오픈 산스*/
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*베구르*/
@font-face {
    font-family: 'Vegur';
    src: url('/fonts/Vegur-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Vegur';
    src: url('/fonts/Vegur-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}