
#post{
    width:100%;
    padding-bottom:100px;
}
#post-body{
    width: 900px;
    margin:0 auto;
    margin-top:100px;
}

/*<PostHeader />*/

#post-header{
    width:100%;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 70px;
}
#post-header #title{
    line-height: 50px;
    font-weight: 400;
    font-size: 25px;
}
#post-header #exp{
    color: #6B6B6B;
    margin-top: -5px;
    margin-bottom: 15px;
}

/*<PostSubmit />*/

#post-submit{
    position: absolute;
    right: 0;
    top: 20px;
    width: 110px;
    line-height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    text-align: center;
    border: 1px solid #f51792;
    background: linear-gradient(to left,#F51792,#FF4747);
    background-color: #f51792;
    cursor:pointer;
}

#post-submit-disabled{
    position: absolute;
    right: 0;
    top: 20px;
    width: 110px;
    line-height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    text-align: center;
    border: 1px solid #f51792;
    background: linear-gradient(to left,#F51792,#FF4747);
    background-color: #f51792;
    opacity:0.2;
    cursor:default;
}


/*<PostForm />*/
#post-form{

}


/*<PostTitle />*/
#post-title{
    margin-top:30px;
}

#post-title > .category{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #707070;
}
#post-title > input{
    width: 100%;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.5px;
    padding: 10px 0;
    background: transparent;
    border:none;
    border-radius:0;
    border-bottom: 1px solid;
}
#post-title > input:focus{
    border-bottom: 1px solid #51a7e8;
}
#post-title > input::-webkit-scrollbar { 
    display: none; 
}

#post-title > input::-webkit-input-placeholder{
    color:#bababa;
    font-weight:200;
}

/*<PostText />*/

#post-description{
    margin-top:30px;
}
#post-description > .category{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #707070;
}

#post-description > textarea{
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    font-weight: 300;
    letter-spacing: -0.2px;
    height: 60px;
}

#post-description > textarea::-webkit-scrollbar { 
    display: none; 
}

#post-description > textarea::-webkit-input-placeholder{
    color:#bababa;
    font-weight:200;
}


/*<PostSections />*/
#post-sections{
    margin-top:30px;
}

.post-section{
    width: 50%;
    padding-top:0px;
    float: left;
    overflow:hidden;
}

.post-section .header{
    margin-bottom:10px;
}

.post-section .left{
    display:none;
}
.post-section .title{
    font-size: 15px;
    font-weight: 300;
    float: left;
}
.post-section .guide{
    float: left;
    font-size: 14px;
    margin-left: 5px;
    color: #525252;
    margin-top: 1px;
}




/*<PostSection />*/

.post-section .header > .category{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #707070;
}



.post-form{
    margin-bottom:30px;
}

/*<PostImage />*/

.post-image{
    width:99%;
    border-radius:3px;
    overflow:hidden;
    cursor:pointer;
    border:1px solid #c5c5c5;
}
.post-image:hover{
    border: 1px solid #51a7e8;
}
.post-image:hover > img{
    opacity:0.7;
}

.post-image > img{
    margin:0 auto;
    display:block;
    width:100%;
    height:auto;
    transition:0.5s opacity ease;
}

/*<PostDrop />*/
.drop{
    width: 99%;
    height: 300px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    overflow:hidden;
    cursor:pointer;
}
.drop:hover{
    border: 1px solid #51a7e8;
}
.drop:hover .drop-title{
    color: #51a7e8;
}

.drop-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 2;
    background: rgba(174, 199, 255, 0.27);
    border: 1px solid #51a7e8;
    display:none;
}

/*<DropCenter />*/
.drop-center{

}

.drop-title{
    font-size: 14px;
    font-weight: 200;
    color: #B1B1B1;
    letter-spacing: -0.2px;
    text-align: center;
    /* margin-top: 150px; */
    margin: 0 auto;
    margin-top: 136px;
}

.post-section .image-input{
    display:none;
}

.post-section .image-btn{
    background: linear-gradient(to left,#F51792,#FF4747);
    border: 1px solid #f51792;
    line-height: 25px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.2px;
    float:left;
    display:none;
}
.post-section .image-btn:hover{
    box-shadow: inset 0px 0px 4px 1px #ff4747;
    background: #f51792;
    cursor: pointer;
}





