#search{
    float: left;
    height: 100%;
    line-height: 40px;
    margin-left: 20px;
}

#search > input{
	height:40px;
	width:300px;
	border:1px solid #d3d3d3;
	background-color:white;
	padding:5px 10px;
	font-weight:400;
}

#search-result{
    position: absolute;
    top: 50px;
    width: 100%;
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 5px 0;
}
#search-result .item{
	font-weight:500;
	font-size:15px;
	cursor:pointer;
	color:black;
}